{% for hour in available %}
  <label class="{% if hour.available === false %}disable{% endif %}" for="time-{{ hour.time }}">
    {% if hour.available === true %}
      <input id="time-{{ hour.time }}" name="date" value="{{ hour.value }}" type="radio"/>
    {% endif %}
    {{ hour.time }}
  </label>
{% endfor %}
